*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}

body{
    display: flex;
    align: center;
    justify-content: center;
    
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}


form {
   background: #c4c2c2;
   width: 550px;
   height: 100%;
   padding: 40px;
   border-radius: 20px;
   box-shadow: 5px 5px 5px #ccd;
   
  }



select {
    margin-right: 20px;
    width: 45%;
    padding: 2px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccd;
    height: 25px;
    color: gray;
    
}

option{
    color: gray;
}

input{
    border: none;
    background: #c4c2c2;
    border-bottom: 1px white solid;
    padding: 1px; 
    width: 100%;
    font-size: 17px;
}

label{
    color: white;
}

textarea{
    border: none;
    border-radius: 5px 5px 0px 5px;   
    box-shadow: 5px 5px 5px #ccd;
    padding: 5px;
    width: 100%;
    height: 100px;    
}

button{
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-right: 5%;
    text-align: center;
    align: center;
}

button p{
    font-weight: bold;
    color: rgb(218, 90, 90);
    }

button label{
    font-weight: bold;
    color: rgb(20, 139, 46);
    }