*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}

body{
    display: flex;
    align: center;
    justify-content: center;
    
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

form {
   background: #ccc;
   width: 450px;
   height: 100%;
   padding: 40px;
   border-radius: 20px;
   box-shadow: 5px 5px 5px #ccd;

  }

.input-single {
    position: relative;
    margin: 20px 0;
}

.input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
}

select {
    justify-content: center;
    width: 30%;
    margin-right: 70px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccd;
}


input{
    border: none;
    background: #ccc;
    border-bottom: 1px white solid;
    padding: 1px; 
    width: 100%;
    font-size: 17px;
    color: #ccd;                 
    

}

label{
    color: white;
}

textarea{
    border: none;
    border-radius: 5px;   
    box-shadow: 5px 5px 5px #ccd;
}

button{
    background: red;
    color: green;
}
