*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}

body{
    display: flex;
    align: center;
    justify-content: center;
    
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

form {
   background: #ccc;
   width: 450px;
   height: 100%;
   padding: 40px;
   border-radius: 20px;
   box-shadow: 5px 5px 5px #ccd;

  }
form p {
    color: white;
    margin: 1px 0;
}

.input-single {
    position: relative;
    margin: 20px 0;
}

.input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
}

input{
    border: none;
    background: #ccc;
    border-bottom: 1px #000 solid;
    padding: 1px;
    width: 100%;
    font-size: 17px;
    outline: 0;
    transition: all 0.2s;

}

form input .input:focus ~ p{
    transform: translateY(-20px);
    font-size: 12px;
}

button {
    padding-top: 5px;
    background: red;
    padding: 5px;
    border-radius: 10px; 
    position: relative;
}